/*
clases generales box sizing
*/
*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #FFF;
}

/*
quitar margen y relleno a filas
*/
.row{
  padding: 0;
  margin-bottom: 0px;
}

/*
dar color, ancho y alineado del texto a la cabecera
*/
header{
	background-color: #F78E69;
	width: 100%;
	text-align: right;
  height: 10em;
}

/*
clase para las fotos grandes
*/
.picture{
  height: 30em;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
}

/*
primera foto
*/
#first{
  background-image: url(../img/uno.jpg);
}

/*
clase para la linea naranja entre secciones
*/
.line{
  background-color: #F78E69;
  height: 2em;
}


#text{
  margin-top: 5em;
  margin-bottom: 5em;
  text-align: center;
  background-color: #F78E69;
  color: #FFF;
  padding: 1em;
}

#second{
  background-image: url(../img/dos.jpg);
}

#title{
  text-align: center;
}

#panditas{
  padding-bottom: 4em;
  text-align: center;
}

.responsive-img{
  border: 0.5em solid #fff;
}

#third{
  background-image: url(../img/tres.jpg);
}

footer{
  background-color: #F78E69;
  text-align: right;
  padding-right: 3em;
  height: 5em;
}

footer h5{
  margin-top: 0;
  padding-top: 1em;
}